:root {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color: hsl(222, 84%, 4%);
	background-color: #fefdf8;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	background:
		linear-gradient(135deg, hsla(56, 87%, 96%, 1), hsla(56, 87%, 99%, 1));
}

a {
	color: inherit;
}
